# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Custom
.idea/
data/
delta_over_beta_scans/
dipole_response_movie/
dipole_response_plots/
matlab_scripts_rostock/
mie_movies/
old/
build_mie_scans_delta_over_beta.py
build_mie_scans_radius_over_energy.py
mie_movie.py
plot_dipole_response.py
plot_mie_scans_delta_over_beta.py
plot_mie_scans_radius_over_energy.py
selected_delta_beta_radius_plots.py
scattering_selector_R_E.py
old/scattering_selector_R_d.py
scattering_selector_R_d.py
scattering_selector_R_b.py
build_mie_scan_radius_over_beta.py
build_mie_scan_radius_over_delta.py

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
